{#{% load i18n %}#}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<section class="footer my-12 py-5 ">
    <div class="container">
        <div class="row ">
        	<div class="col-lg-4  col-md-4 col-sm-4 my-6">
            	<div class="footer_dv  ">
                	<ul>
                    	<div class="col-sm-12 text-center">
                                <h4 class="ft-text-title">Contact Us</h4> <br/>
                                <h5 class="fa fa-logo ft-text-title-bold">eCom</h5>
                                <h4 class="details">
                                    <p class="fa fa-map-marker">via campi xx, Modena <br/>ITALY</p>
                                    <a class="contact" href="contatti/view.html">
                                    <p class="fa fa-envelope-o">info@mailme.com</p>
                                    </a>
                                    <p class="fa fa-phone">+39 -0522-XXX-XXX</p>
                                    </a>
                                    </h4>


                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4 ">
            	<div class="footer_dv ">
                    <ul>
                        <h4 class="ft-text-title">About</h4>
                            <div class="pspt-dtls">
                                <p>The motive for which this company was created was all about <br/></p>
                             <br/>

                            </div>

                    </ul>
                </div>

    </div>
</section>

